  <% include ../partials/header.ejs %>

  <div class="container">
      <div class="row">

          <div class="col-sm-2 border">
              <a class="btn btn-sm btn-primary" href="/" style="margin-top: 10px;"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
              <a class="btn btn-sm btn-primary" href="/regions/<%= region_id %>/categories/<%=category_id %>" style="margin-top: 10px;"><i class="fa fa-backward" aria-hidden="true"></i>Back</a>

          </div>


          <div class="col-sm-10">
              <form action="/clients" method="POST">
                  <div class="border form-divide-outer">
                      <div class="form-header">
                          <h3 class="text-center"><%= client.name %></h3>
                      </div>

                      <div class="border form-divide-inner">
                          <h5><strong>Organisation Details</strong></h5>
                          <div class="form-row">
                              <div class="form-group col-md-6">
                                  <label for="name">Name :</label>
                                  <%= client.name %>
                              </div>
                          </div>

                          <div class="form-group">
                              <label for="address">Address :</label>
                              <%= client.address %>
                          </div>
                          <div class="form-row">
                              <div class="form-group col-md-4">
                                  <label for="phone">Phone No :</label>
                                  <%= client.phone %>
                              </div>
                              <div class="form-group col-md-4">
                                  <label for="altPhone">Alternative Phone : </label>
                                  <%= client.altPhone %>
                              </div>
                              <div class="form-group col-md-4">
                                  <label for="email">Email : </label>
                                  <%= client.email %>
                              </div>
                          </div>
                      </div>

                      <div class="border form-divide-inner">
                          <h5><strong>Contact Person Details</strong> </h5>

                          <div class="form-row">
                              <div class="form-group col-md-2">
                                  <label for="inputCity">Title :</label>
                                  <%= client.contactTitle %>
                              </div>
                              <div class="form-group col-md-3">
                                  <label for="contactName">Name :</label>
                                  <%= client.contactName %>
                              </div>
                              <div class="form-group col-md-3">
                                  <label for="contactSurname">Surname :</label>
                                  <%= client.contactSurname %>
                              </div>
                              <div class="form-group col-md-4">
                                  <label for="contactPhone">Phone No :</label>
                                  <%= client.contactPhone %>
                              </div>
                              <div class="form-group col-md-4">
                                  <label for="contactAltPhone">Alt Phone No :</label>
                                  <%= client.contactAltPhone %>
                              </div>
                              <div class="form-group col-md-4">
                                  <label for="contactEmail">Email : </label>
                                  <%= client.contactEmail %>
                              </div>
                          </div>
                      </div>
                      <div class="border form-divide-inner">
                          <h5><strong>Market Details</strong> </h5>

                          <div class="form-row">
                              <div class="form-group col-md-4">
                                  <label for="region">Region Name :</label>
                                  <%= client.region.name %>
                              </div>

                              <div class="form-group col-md-4">
                                  <label for="category">Market Category : </label>
                                  <%= client.category.name %>

                              </div>
                              <div class="form-group col-md-12">
                                  <label for="specialNotes">Special Notes :</label>
                                  <%= client.specialNotes %>
                              </div>

                          </div>
                      </div>
                      <div class="border form-divide-inner">
                          <h5><strong>Last 5 Visits</strong> </h5>
                          <table class="table">
                              <thead>
                                  <tr>
                                      <th scope="col">#</th>
                                      <th scope="col">Visit Date</th>
                                      <th scope="col">Contact Person</th>
                                      <th scope="col">Phone Number</th>
                                      <th scope="col">Email</th>
                                      <th scope="col">Next Visit Date</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <% var ClientVisits =client.visits %>

                                  <% ClientVisits.forEach(function(visit){ %>


                                  <tr>
                                      <th scope="row"><a href="/visits/<%= visit._id %>"><i class="fa fa-folder-open-o" aria-hidden="true"></i>view</a></th>
                                      <td><%=visit.visitDate %></td>
                                      <td><%=visit.contactTitle %> <%=visit.contactName  %> <%=visit.contactSurname  %></td>
                                      <td><%=visit.contactPhone %></td>
                                      <td><%=visit.contactEmail %></td>
                                      <td><%=visit.nextVisitDate %></td>
                                  </tr>
                                  <% }); %>

                              </tbody>
                          </table>
                      </div>
                      <a href="/clients/<%= client._id %>/edit" class="btn btn-sm btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 20px;"></i>EDIT</a>
                      <a href="/clients/<%= client._id%>" class="btn btn-sm btn-danger pull-right"><i class="fa fa-trash" aria-hidden="true"></i>Delete</a>
                  </div>



          </div>

          </form>


      </div>


  </div>

  </div>




  <% include ../partials/footer.ejs %>